.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  margin-bottom: 20px;
}
.formText {
  margin-bottom: 15px;
  font-weight: 700;
  text-align: center;
}

.formInput {
  margin-bottom: 20px;
  width: 250px;
  padding: 8px;
  border-color: rgb(143, 100, 146);
  border-radius: 5px;
  font-size: 14px;
  outline-color: #fff;
}

.formBtn {
  width: 150px;
  margin: 40px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(143, 100, 146);
  color: rgb(255, 255, 255);
  font-size: 18px;
  transition: all 500ms ease;
  cursor: pointer;
}

.formBtn:hover {
  background-color: blueviolet;
  color: azure;
  box-shadow: 5px 5px 5px rgb(85, 84, 84);
}

::placeholder {
  font-size: 8px;
}
