.container {
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

.wrapper{
    background-color: rgb(165, 137, 192);
    padding: 25px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

h1{
    color: #ffffff;
}

.link{
    text-decoration: none;
    font-weight: 700;
    color:#ffffff;
    margin: 0;
    padding: 0;
}