.wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.username {
    font-weight: 700;
    color:#ffffff;
}

.userBtn {
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(62, 22, 65);
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 12px;
    transition: all 500ms ease;
    cursor: pointer;
}

.userBtn:hover {
    background-color: blueviolet;
    color: azure;
    box-shadow: 5px 5px 5px rgb(85, 84, 84);
}